*.o
*.lo
.*.sw*

/.deps/
/velox
/velox.pc
/clients/status_bar
/protocol/swc-client-protocol.h
/protocol/swc-protocol.c
/protocol/velox-client-protocol.h
/protocol/velox-server-protocol.h
/protocol/velox-protocol.c

